@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200..800&family=Sora:wght@100..800&family=Manrope:wght@200..800&display=swap');

h1, h2, h3 {
    font-family: 'Sora', sans-serif;
}

body, p {
    font-family: 'Manrope', sans-serif;
}

@layer utilities {
  .clip-path-custom {
    clip-path: polygon(0 0, 100% 0, 100% 98%, 75% 95%, 0 100%);
    overflow: hidden;
  }

  .clip-path-custom-2 {
    clip-path: polygon(
      0 5%,
      25% 0,
      75% 2%,
      100% 4%,
      100% 100%,
      0 100%
    );
    overflow: hidden;
  }

  .clip-path-custom-3 {
    clip-path: polygon(0 0, 100% 0, 100% 98%, 75% 96%, 0 100%);
    overflow: hidden;
  }
}

*{
    scroll-behavior: smooth;
}